# Getting started with data

In [1]:
import pandas as pd
import numpy as np

## Step 1: Import Dataset

In [2]:
df = pd.read_csv("chipotle.tsv", sep = "\t")

In [3]:
df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

## Step 2: Dataset Overview

In [4]:
df.shape

(4622, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
print(list(df.columns))
print(tuple(df.columns))

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']
('order_id', 'quantity', 'item_name', 'choice_description', 'item_price')

In [7]:
df.index

RangeIndex(start=0, stop=4622, step=1)

In [8]:
df.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

## loc and iloc

In [9]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [10]:
df.loc[(df.order_id < 3000) & (df.quantity == 15), ["order_id", "quantity"]]

      order_id  quantity
3598      1443        15

In [11]:
print(df.iloc[[2]])
print(df.iloc[2])

   order_id  quantity         item_name choice_description item_price
2         1         1  Nantucket Nectar            [Apple]     $3.39
order_id                             1
quantity                             1
item_name             Nantucket Nectar
choice_description             [Apple]
item_price                      $3.39
Name: 2, dtype: object

In [12]:
x = df.iloc[1:5, :-1]
y = df.iloc[1:5, -1]
print(y)

1     $3.39
2     $3.39
3     $2.39
4    $16.98
Name: item_price, dtype: object

## Data Manipulation

In [13]:
df.item_price.dtype

dtype('O')

## Apply()

In [14]:
df.item_price = df.item_price.apply(lambda x : float(x.replace('$', '')))

In [15]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [16]:
df["total_price"] = df["quantity"] * df["item_price"]

In [17]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
6,3,1,Side of Chips,NaN,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,9.25

## The revenue for the period in the dataset?

In [18]:
revenue = df.total_price.sum()
print(revenue)

39237.02

## Which was the most ordered item?

## Group By

In [23]:
ordered_item = df.groupby("item_name")["item_name"]
ordered_item
# ordered_item.sort_values(ascending = False)

C:\Users\HH\AppData\Local\Temp\ipykernel_2720\2912233108.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ordered_item = df.groupby("item_name").sum()

,order_id,quantity,item_price,total_price
item_name,,,,
6 Pack Soft Drink,52322,55,356.95,369.93
Barbacoa Bowl,53972,66,672.36,672.36
Barbacoa Burrito,74718,91,894.75,894.75
Barbacoa Crispy Tacos,5613,12,120.21,138.71
Barbacoa Salad Bowl,9708,10,106.40,106.40
Barbacoa Soft Tacos,18725,25,250.46,250.46
Bottled Water,175944,211,302.56,649.18
Bowl,472,4,29.60,74.00
Burrito,1550,6,44.40,44.40
Canned Soda,76396,126,137.34,191.84
Canned Soft Drink,304753,351,438.75,603.75
Carnitas Bowl,62742,71,736.71,830.71
Carnitas Burrito,51652,60,597.83,616.33
Carnitas Crispy Tacos,5868,8,77.96,95.94
Carnitas Salad,1500,1,8.99,8.99
Carnitas Salad Bowl,6693,6,66.34,66.34
Carnitas Soft Tacos,37673,40,375.94,375.94
Chicken Bowl,713926,761,7342.73,8044.63
Chicken Burrito,497303,591,5575.82,6387.06
Chicken Crispy Tacos,47382,50,472.13,524.11
Chicken Salad,10465,9,81.09,81.09
Chicken Salad Bowl,117104,123,1228.75,1506.25
Chicken Soft Tacos,98395,120,1108.09,1199.01
Chips,208004,230,494.34,580.34
Chips and Fresh Tomato Salsa,100419,130,361.36,1033.96
Chips and Guacamole,449959,506,2201.04,2475.62
Chips and Mild Fresh Tomato Salsa,279,1,3.00,3.00
Chips and Roasted Chili Corn Salsa,14999,23,67.85,73.75
Chips and Roasted Chili-Corn Salsa,17462,18,43.02,43.02
Chips and Tomatillo Green Chili Salsa,41170,45,132.75,144.55
Chips and Tomatillo Red Chili Salsa,45556,50,147.50,159.30
Chips and Tomatillo-Green Chili Salsa,21826,33,78.87,88.43
Chips and Tomatillo-Red Chili Salsa,18344,25,59.75,93.21
Crispy Tacos,434,2,14.80,14.80
Izze,10587,20,67.80,67.80
Nantucket Nectar,21814,29,98.31,111.87
Salad,1150,2,14.80,14.80
Side of Chips,84769,110,185.90,290.68
Steak Bowl,193752,221,2260.19,2479.81
Steak Burrito,328437,386,3851.43,4236.13
Steak Crispy Tacos,35818,36,357.34,375.32
Steak Salad,2362,4,35.66,35.66
Steak Salad Bowl,29590,31,343.59,391.15
Steak Soft Tacos,50177,56,536.05,554.55
Veggie Bowl,72270,87,867.99,901.95
Veggie Burrito,80962,97,934.77,1002.27
Veggie Crispy Tacos,668,1,8.49,8.49
Veggie Salad,7265,6,50.94,50.94
Veggie Salad Bowl,17303,18,182.50,182.50
Veggie Soft Tacos,5520,8,73.96,90.94

## Unique Value

In [20]:
df.item_name.value_counts().count()

50

In [21]:
df.item_name.nunique()

50